<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-6">
         <h3>
        <img src="/assets/img/social-icons/dnrf_logo.PNG" width=45%>
         </h3>
    </div>
      <div class="col-md-6">
        <h3><i class="fa fa-map-marker"></i> Contact</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Phone: {{ site.telephone_number }} <br>
          Email: {{ site.company_email }}<br>
          <div id="social-icons">

          {% if site.twitter_link %}
            <a href="{{ site.twitter_link }}" class="btn-group twitter">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}

        </div>
      </div>    
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }} <a href="https://teol.ku.dk/privacy/" target=”_blank”>Centre for Privacy Studies</a>
  </div>
  <!-- Site based on the Office theme from https://github.com/technext/office -->
</footer>