<!doctype html>
<html lang="en">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
<img src="/assets/img/journal_logo.jpeg" width=100% alt="Image of first carousel">
            </div>
        </div>
    </section>


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h1 class="services-header-title">Inaugural Conference</h1>
                    <p class="services-header-body">At the Privacy Studies Journal inaugural conference, we will have a series of presentations by eminent specialists on privacy from different fields and strands of research. It is our ambition that the atmosphere of the workshop is one of generosity, experimentation and mutual inspiration – even though we are not in the same room.</p>
                    <p>The conference will be structured in five thematic clusters:</p><hr>
                </div>
            </div>

            <div class="row services-row services-row-head services-row-1">

  {% for theme in site.data.content.themes %}

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 theme-boxes">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <h4 class="services-title">{{theme.title}}</h4>
                        <p class="services-body">{{theme.summary}}</p>
                    </div>
                </div>

  {% endfor %}
        
    
        </div>      
    </section>

  </body>

  {% include footer.html %}
</html>
